
/* Basic Styles --------------------------------------------------------*/
html{
  font-size: 62.5%;
}
body{
	font-size: 1.7rem;
	letter-spacing: 0.01rem;
	color: #333;
	background-color: #fff;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
p{
	font-weight: lighter;
}
a:hover{
	text-decoration: none;
}
img{
	max-width: 100%;
}

.title_section{
	padding:0;
	margin: 0;
}

.espaciado{
	padding: 5em 0;
}


/*Header ------------------*/
.header{
	background-color: lightgray;
}

/*Section About  ------------------*/
.about{
	background-color: lightblue;
}

/*Section Features ------------------*/
.features{
	background-color: #f9f9f9;
}

/*Section Pricing ------------------*/
.pricing{
	background-color: #ccc;
}

/*Section Team ------------------*/
.team{
	background-color: lightyellow;
}

/*Section Cta ------------------*/
.cta{
	background-color: lightpink;
}

/*Footer ------------------*/
.footer{
	background-color: #333;
}
